<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{% block title %}AirWise: Flight Weather Assessment{% endblock title %}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicon -->
  <link href="static/img/aviation_favicon.jpg" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="static/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    {% block header %} {% endblock header %}
    <div class="container d-flex align-items-center">

      <div class="logo me-auto">
        <h1><a href="{{url_for('home')}}">AirWise: Flight Weather Assessment</a></h1>
      </div>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          {% if current_user.is_authenticated %}
          <li><a class="btn-get-started scrollto" href="{{url_for('dashboard')}}">Dashboard</a></li>
          <!-- <li><a class="nav-link scrollto" href="#userprefs">MyWeather</a></li>
           -->
          <li class="dropdown"><a href="#"><span>MyWeather</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
            </li>
            <li><a href="{{url_for('plot')}}">Future Data</a></li>
            </ul>
        </li>
          
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li><a class="nav-link scrollto" href="{{ url_for('logout') }}">Logout</a></li>
          {% else %}
          <li><a class="btn-get-started scrollto" href="{{url_for('register')}}">Register</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="{{ url_for('contact') }}">Contact</a></li>
          {% endif %}
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  {% block hero %}
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="container text-center text-md-left" data-aos="fade-up">
      <h1>Welcome to <span>AirWise</span></h1>
      <h2></h2>
      <a href="{{url_for('login')}}" class="btn-get-started scrollto">Login</a>
      
    </div>
  </section><!-- End Hero -->
  {% endblock hero %}

  <div class="container mt-4">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="row">
          <div class="col">
            {% for category, message in messages %}
              <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                {{ message }}
              </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}
    {% endwith %}
  </div>

  <main id="main">
       {% block content %}{% endblock %}
  </main>
  {% block footer %}
  <footer>
    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>AirWise, Inc.</span></strong>. All Rights Reserved
        </div>
      </div>
  </footer><!-- End Footer -->
  {% endblock footer %}

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  {% block scripts %}
  <script src="static/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="static/vendor/php-email-form/validate.js"></script>

  <!-- Main JS File -->
  <script src="static/js/main.js"></script>
  {% endblock scripts %}

  

</body>

</html>
