{% extends "base.html" %}

{% block title %}Dashboard - AirWise: Flight Weather Assessment{% endblock %}

{% block hero %}
<!-- override hero section -->
{% endblock hero %}

{% block content %}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>Current Weather Conditions</h2>
                {% if airport_data %}
                    {% for item in airport_data %}
                        <img src="https://openweathermap.org/img/wn/{{ item.weather_icon }}@2x.png" alt="Weather Icon" class="center-image">
                    {% endfor %}
                {% endif %}
            </div>
                <ol>
                    <li><a href="home">Home</a></li>
                    <li>Dashboard</li>
                </ol>
            </div>
        </div>
    </section><!-- End Breadcrumbs -->

    <style>
        .card-container {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem; /* Adjust the gap between cards */
        }

        .card {
            flex: 1; /* Ensures each card takes up equal space */
            min-width: 300px; /* Minimum width to prevent cards from being too small */
        }

        .card-body {
            display: flex;
            flex-direction: column;
        }

        .card-body form {
            flex: 1;
        }

        .weather-condition {
            text-align: center;
            margin: 1rem 0;
        }

        .center-image {
            position: absolute;
            top: 10%;
            left: 50%;
            transform: translate(-50%);
            width: 150px; /* Adjust the size as needed */
            height: auto;
            z-index: 9999; /* Ensure the image is above other content */
        }
    </style>

    <section class="inner-page">
        <div class="container">
            <!-- Flex Container for Cards -->
            <div class="card-container">
                <!-- Wind/Temp Selection -->
                <div class="card mb-3">
                    <div class="card-header">
                        Select Region For Wind Speed/Direction:
                    </div>
                    <div class="card-body">
                        <form method="get" action="{{ url_for('dashboard') }}">
                            <div class="form-group">
                                <select id="region" name="region" class="form-control">
                                    <option value="sfo" {% if region == 'sfo' %}selected{% endif %}>Pacific Coast</option>
                                    <option value="other_pac" {% if region == 'other_pac' %}selected{% endif %}>Western Pacific</option>
                                    <option value="hawaii" {% if region == 'hawaii' %}selected{% endif %}>Hawaii</option>
                                    <option value="alaska" {% if region == 'alaska' %}selected{% endif %}>Alaska</option>
                                    <option value="slc" {% if region == 'slc' %}selected{% endif %}>Rocky Mountain</option>
                                    <option value="bos" {% if region == 'bos' %}selected{% endif %}>Northeast</option>
                                    <option value="mia" {% if region == 'mia' %}selected{% endif %}>Southeast</option>
                                    <option value="chi" {% if region == 'chi' %}selected{% endif %}>North Central</option>
                                    <option value="dfw" {% if region == 'dfw' %}selected{% endif %}>South Central</option>
                                    <option value="all" {% if region == 'all' %}selected{% endif %}>All Regions</option>
                                </select>
                            </div>
                            <input type="hidden" name="get_wind" value="1">
                            <button type="submit" class="btn btn-primary">Get Data</button>
                        </form>
                    </div>
                </div>

                <!-- Airport Selection -->
                <div class="card mb-3">
                    <div class="card-header">
                        Select Airport:
                    </div>
                    <div class="card-body">
                        <form method="get" action="{{ url_for('dashboard') }}">
                            <div class="form-group">
                                <select id="airport" name="airport" class="form-control">
                                    <option value="seatac" {% if selected_airport == 'seatac' %}selected{% endif %}>SeaTac</option>
                                    <option value="white_center" {% if selected_airport == 'white_center' %}selected{% endif %}>Boeing Field</option>
                                    <option value="spokane" {% if selected_airport == 'spokane' %}selected{% endif %}>Spokane</option>
                                    <option value="pullman" {% if selected_airport == 'pullman' %}selected{% endif %}>Pullman</option>
                                    <!-- Add more options for other airports if needed -->
                                </select>
                            </div>
                            <input type="hidden" name="get_airport_data" value="1">
                            <button type="submit" class="btn btn-primary">Get Data</button>
                        </form>
                    </div>
                </div>

                <!-- METAR Selection -->
                <div class="card mb-3">
                    <div class="card-header">
                        Select For METARs:
                    </div>
                    <div class="card-body">
                        <form method="get" action="{{ url_for('dashboard') }}">
                            <div class="form-group">
                                <!-- Any additional inputs if needed -->
                            </div>
                            <input type="hidden" name="get_metar" value="1">
                            <button type="submit" class="btn btn-primary">Select</button>
                        </form>
                    </div>
                </div>
            </div> <!-- Close card-container here -->

            <!-- Wind/Temp Data Display -->
            <hr>
            <div id="wind-temp-data">
                <h2>Wind Speed and Wind Direction Data</h2>
                {% if wind_temp_data %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Latitude</th>
                            <th scope="col">Longitude</th>
                            <th scope="col">Wind Speed (kt)</th>
                            <th scope="col">Wind Direction (°)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in wind_temp_data %}
                        <tr>
                            <td>{{ item.id }}</td>
                            <td>{{ item.lat }}</td>
                            <td>{{ item.lon }}</td>
                            <td>{{ item.spd }}</td>
                            <td>{{ item.dir }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <button id="hide-wind-temp-data" class="btn btn-secondary">Hide Data</button>
                {% else %}
                <p></p>
                {% endif %}

         <!-- Conditionally Display Image in Upper Right Corner --> 
 

            <!-- Airport Data Display -->
            <div class="card mb-3">
                <div class="card-header">
                    Airport Data
                </div>
                <div class="card-body" id="airport-data-section">
                    {% if airport_data %}
                    <table class="table table-striped">
                        <tbody>
                        {% for item in airport_data %}
                        <tr>
                            <th scope="row">ID</th>
                            <td>{{ item.id }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Name</th>
                            <td>{{ item.name }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Country</th>
                            <td>{{ item.country }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Latitude</th>
                            <td>{{ item.lat }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Longitude</th>
                            <td>{{ item.lon }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Weather</th>
                            <td>{{ item.weather_desc }}</td>
                        <tr>
                        <tr>
                            <th scope="row">Wind Speed</th>
                            <td>{{ item.speed }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Wind Direction</th>
                            <td>{{ item.deg }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Temperature</th>
                            <td>{{ item.temp }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Feels Like</th>
                            <td>{{ item.feels_like }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Pressure</th>
                            <td>{{ item.pressure }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Humidity</th>
                            <td>{{ item.humidity }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Visibility</th>
                            <td>{{ item.visibility }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <button id="hide-airport-data" class="btn btn-secondary">Hide Data</button>
                    {% else %}
                    <p>No airport data available.</p>
                    {% endif %}
                </div>
            </div>

            <!-- METAR Data Display -->
            <div class="card mb-3">
                <div class="card-header">
                    METAR Data
                </div>
                <div class="card-body" id="metar-data-section">
                    {% if metar_data %}
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Station</th>
                                <th scope="col">Temperature</th>
                                <th scope="col">Dew Point</th>
                                <th scope="col">Altimeter</th>
                                <th scope="col">Quality Control Field</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in metar_data %}
                            <tr>
                                <td>{{ item.metar_id }}</td>
                                <td>{{ item.icaoId }}</td>
                                <td>{{ item.temp }}</td>
                                <td>{{ item.dewp }}</td>
                                <td>{{ item.altim }}</td>
                                <td>{{ item.qcField }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <button id="hide-metar-data" class="btn btn-secondary">Hide Data</button>
                    {% else %}
                    <p>No METAR data available.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
</main>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    // Hide Wind/Temp Data on button click
    const hideWindTempButton = document.getElementById('hide-wind-temp-data');
    if (hideWindTempButton) {
      hideWindTempButton.addEventListener('click', function() {
        document.getElementById('wind-temp-data').style.display = 'none';
      });
    }

    // Hide METAR Data on button click
    const hideMetarButton = document.getElementById('hide-metar-data');
    const metarDataSection = document.getElementById('metar-data-section');
    if (hideMetarButton && metarDataSection) {
      hideMetarButton.addEventListener('click', function() {
        metarDataSection.style.display = 'none';
      });
    }

    // Hide Airport Data on button click
    const hideAirportButton = document.getElementById('hide-airport-data');
    const airportDataSection = document.getElementById('airport-data-section');
    if (hideAirportButton && airportDataSection) {
      hideAirportButton.addEventListener('click', function() {
        airportDataSection.style.display = 'none';
      });
    }

    // Initial state: Hide the METAR data section if there's no table inside
    if (metarDataSection && !metarDataSection.querySelector('table')) {
      metarDataSection.style.display = 'none';
    }

    // Initial state: Hide the airport data section if there's no table inside
    if (airportDataSection && !airportDataSection.querySelector('table')) {
      airportDataSection.style.display = 'none';
    }
  });
</script>

{% endblock content %}

 <!-- ======= Footer ===== -->
{% block footer %}
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="{{ url_for('home') }}">Home</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="{{ url_for('account') }}">My Account</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container d-md-flex py-4">
        <div class="me-md-auto text-center text-md-start">
            <div class="copyright">
                &copy; Copyright <strong><span>AirWise, Inc.</span></strong>. All Rights Reserved
            </div>
        </div>
    </div>
</footer><!-- End Footer -->
{% endblock footer %}
