{% extends "base.html" %}

{% block title %}Login - AirWise: Flight Weather Assessment{% endblock %}

{% block hero %}
<!-- override hero section -->

{% endblock hero %}

{% block content %}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <ol>
                    <li><a href="home">Home</a></li>
                    <li>Login</li>
                </ol>
            </div>
        </div>
    </section><!-- End Breadcrumbs -->



   <section id="contact" class="contact section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Login</h2>
          <p>Please enter your login information below.</p>
        </div>

        <div class="row mt-5 justify-content-center">

          <div class="col-lg-10">

            <div class="info-wrap">
              <div class="row">
                

                <div class="col-lg-4 info mt-4 mt-lg-0">
                  <i class="bi bi-airplane-engines"></i>
                  <h4>Login to Your Airwise Account:</h4>
		  <p>Enter your email and password.</p>
                </div>
	</div>
	
	<div class="row mt-5 justify-content-center">
	
         	<div>
		  <form method="POST" class="button-format">
		    {{ form.hidden_tag() }}
		    <div class="form-group">
                      {{ form.email(size=40, class="form-control", placeholder="Email") }}<br>
                     
    		    </div>
		    <div class="form-group">
                      {{ form.password(size=40, class="form-control", placeholder="Password") }}<br>
                     
		    </div>
                    

    		    <div class="text-center">    
		      <button type="submit" class="btn btn-primary">{{ form.submit.label }}</button>
		    </div>
		  </form>
		</div>
                
              </div>
            </div>

          </div>

        </div>

        </div>

      </div>
    </section>

{% endblock content %}
  <!-- ======= Footer ======= -->
{% block footer %}
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="{{ url_for('home') }}">Home</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="{{ url_for('contact') }}">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container d-md-flex py-4">
        <div class="me-md-auto text-center text-md-start">
            <div class="copyright">
                &copy; Copyright <strong><span>AirWise, Inc.</span></strong>. All Rights Reserved
            </div>
        </div>
    </div>
</footer><!-- End Footer -->
{% endblock footer %}
