{% extends "base.html" %}

{% block title %}Registration Confirmed - AirWise: Flight Weather Assessment{% endblock %}

{% block hero %}
<!-- override hero section -->
<section id="hero-registration" class="d-flex flex-column justify-content-center align-items-center">
  <div class="container text-center text-md-left" data-aos="fade-up">
    <h1>Registration <span>Confirmed</span></h1>
      <a href="{{ url_for('login') }}" class="btn-get-started scrollto">Login Now</a>
</section>

{% endblock hero %}

{% block content %}

{% endblock content %}
  <!-- ======= Footer ======= -->
{% block footer %}
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="{{ url_for('home')}}">Home</a></li>
                          <li><i class="bx bx-chevron-right"></i> <a href="{{ url_for('contact') }}">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container d-md-flex py-4">
        <div class="me-md-auto text-center text-md-start">
            <div class="copyright">
                &copy; Copyright <strong><span>AirWise, Inc.</span></strong>. All Rights Reserved
            </div>
        </div>
    </div>
</footer><!-- End Footer -->
{% endblock footer %}
